<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PixelsSuite Tests" verbose="1" parallel="false">
  <test name="Document Tools Tests">
    <classes>
      <class name="OcrToolTest"/>
      <class name="ColorPickerTest"/>
      <class name="RotateImageTest"/>
    </classes>
  </test>
</suite>
